
* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(66, 66, 66);
    height: 100vh;
}

.grid {
    --gap: 3px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: var(--gap);
    padding: var(--gap);

    width: 50%;
    min-height: 100px;
}

.grid-cell {
    aspect-ratio: 1;
    background-color: rgb(98, 98, 98);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.grid-cell.ship {
    background-color: rgb(45, 45, 45);
}

.grid-cell.hit-blank {
    background-color: rgb(0, 0, 0);
}

.grid-cell.hit-ship {
    background-color: rgb(93, 0, 0);
}

.gameboards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 65vw;
    min-height: fit-content;
}

@media (max-width: 750px) {
    .gameboards {
        flex-direction: column;
        width: 60vw;
    }

    .grid {
        width: 100%;
    }
}